# Files and directories created by pub.
.dart_tool/
.packages
pubspec.lock

# Conventional directory for build output.
build/

# Large samples.
samples/brotli_wasm_bg.*
samples/lz77_bg.*
samples/rsa_lib_bg.*

# Intermediary wat and wasm files
test/wasm/

# Example output from spec/ build.py
js/
